a {
    color: $secondary-text-color;
    text-decoration-style: solid;
    // transition: color 0.2s ease-in-out;
}

a:hover {
    color: $primary-text-color;
    text-decoration-style: solid;
}

p:not(:first-of-type) {
    margin-top: 1rem;
}

h1 {
    font-family: 'General Sans', sans-serif;
}

body {
    height: calc(var(--vh, 1vh) * 100); // --vh set in +layout.svelte
    background-color: $bg-color;
    font-family: 'Gambetta', serif;
}