a {
    color: $secondary-text-color;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: $primary-text-color;
    text-decoration: underline;
}

h1 {
    font-family: 'General Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: $bg-color;
    font-family: 'Gambetta', serif;
}