$bg-color: #FFFDDF;
$header-text-color: #000000;
$primary-text-color: #000000;
$secondary-text-color: rgba(0, 0, 0, 60%);
$placeholder-text-color: rgba(0, 0, 0, 30%);

$slide-transition-time: 500ms;
$fade-transition-time: 1000ms;