$bg-color: #FFFDDF;
$header-text-color: #000000;
$primary-text-color: #000000;
$secondary-text-color: rgba(0, 0, 0, 60%);
$placeholder-text-color: rgba(0, 0, 0, 30%);

$header-height: 3rem;
$header-font-size: 2rem;
$large-text-size: 2rem;
$small-text-size: 1.2rem;

$slide-transition-time: 500ms;
$fade-transition-time: 1000ms;
$about-transition-time: 200ms;
